doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='javascript', href='/javascipts/weather_api.js')
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
        <script src="/javascripts/weather_api.js" type="text/javascript"></script>
        
        //- <script src="../jquery-3.3.1.min.js"></script>
  body
    block content
